{{ define "site-header"}}
    {{ partial "en/site-main-header.en.html" . }}
{{ end }}


{{ define "hero-image" }}
    {{ partial "en/home-page-hero-en.html" . }}
    {{ partial "en/home-page-phone-number-en.html" . }}
{{ end }}


{{ define "about-us" }}
    {{ partial "en/home-page-about-us-en.html" . }}
    {{ partial "en/contact-page-en.html" . }}
{{ end }}


{{ define "servicios" }}
    {{ partial "en/home-page-servicios.en.html" . }}
    {{ partial "en/home-page-coelp.en.html" . }}
    {{ partial "en/home-page-por-que-blancodent.en.html" . }}
    {{ partial "en/home-page-blockquote.en.html" . }}
{{ end }}

{{ define "blog" }}
    {{ partial "en/home-page-blog.en.html" . }}
{{ end }}


{{ define "upper-footer" }}
    {{ partial "en/home-page-upper-futter.en.html" . }}
{{ end }}


{{ define "site-footer"}}
    {{ partial "en/site-main-footer.en.html" . }}
{{ end }}