{{ define "site-header"}}
    {{ partial "es/site-main-header.es.html" . }}
{{ end }}

{{ define "title" }}
  {{ .Title }}
{{ end }}

{{ define "main-single" }}

<div class="single-container">
  <h1>
    {{ .Title }}
  </h1>
  <img class="hero-image" src="{{ .Params.heroimage }}" alt="Imagen decorativa corespondiente a la descripcion en titulo">
  <article class="single-article">
    {{ .Content }}
    <p><br><br>
      <em>{{ .Date.Format "Monday, January 2, 2006" }} </em><br>
      {{ $.Site.Params.copyright }}<br><br>
      <a class="myButton" href="/extras/contact">Cita Previa --></a>
    </p><br><br>
    <hr>
    <p>
      <small>
        La información de este medio no puede sustituir un servicio de atención medica directa, así como tampoco se hará ninguna recomendación sobre productos, técnicas, fármacos , etc… La utilización de este servicio se lleva a cabo bajo la propia responsabilidad del usuario.
      </small>
    </p>
  </article>

</div>
{{ end }}

{{ define "upper-footer" }}
  {{ partial "es/single-page-upper-footer.es.html" . }}
{{ end }}

{{ define "site-footer"}}
    {{ partial "es/site-main-footer.es.html" . }}
{{ end }}