<h2 class="big-font escribenos">Escríbenos</h2>
<article class="contact-page">
    <a class="myButton" href="/extras/contact">Solicitud Cita Previa --></a>
    <p> Lo más fácil es enviarnos un email y te contactaremos lo antes posible. La respuesta a tu solicitud será en horario comercial y por orden de llegada. Si tienes mucha prisa, por favor, llama directamente a la clínica al número <a href="tel:+34928292455">+34 928 292 455</a>. También puedes usar el mismo formulario para cualquier consulta que necesites. 
    </p>
</article>