<article class="home-upper-footer">
    <div>
        <img src="images/site/main/hart.svg" alt="images/site/main/hart.svg">
        <p>
            Hecho con todo nuestro amor en la bella ciudad de Las Palmas de G.C. <br><br>
            Nos encantaría trabajar contigo
        </p>
    </div>
    <div class="speech-bubble">
        <p>
            <small>
                    Jujuuuu, parece que hemos llegado al final de la página. <br><br>
                    ¿Por que no llamas al teléfono: <a href="tel:+34928292455">928 292 455</a> y aclaras todas tus dudas?
                    Y si no, te invito a <a href="/extras/contact">empezar tu tratamiento</a> en Clínica Dental Blancodent
            </small>            
        </p>
        
    </div>
    <img src="images/site/main/chico-1.svg" alt="">
</article>