<article class="porque-up">
    <h2 class="big-font">Por Qué Elegir Blancodent</h2>
    <p>
        Seis razones para elegir nuestra clínica
    </p>
    <div class="porque">
        <section>
            <h3>
                Profesionalidad
            </h3>
            <p>
                Dos décadas de experiencia en España y Alemania. Dedicación máxima a la profesión médica y su Clínica Blancodent.
            </p>
        </section>
        <section>
            <h3>
                Higiene
            </h3>
            <p>
                Cumplimiento irrevocable de la ley. Tanto en la zona médica como en el laboratorio. Respeto medioambiental de residuos.
            </p>
        </section>
        <section>
            <h3>
                Atención
            </h3>
            <p>
                Los detalles que importan para entender las necesidades de cada paciente. Paciencia, sin discriminación económica.
            </p>
        </section>
        <section>
            <h3>
                Materiales
            </h3>
            <p>
                Desde los mejores materiales hasta los más económicos, siempre fabricados en la Comunidad Europea o Suiza.
            </p>
        </section>
        <section>
            <h3>
                Personal
            </h3>
            <p>
                Dentistas con titulaciones Españolas y Alemanas. Personal auxiliar preparado, amable y atento al paciente. Trato familiar.
            </p>
        </section>
        <section>
            <h3>
                Precios
            </h3>
            <p>
                Información clara, precios competitivos y respetuosos con cada paciente. Sin engañosa publicidad corporativa.
            </p>
        </section>
    </div>
</article>