<article class="home-upper-footer">
    <div>
        <img src="/images/site/main/hart.svg" alt="">
        <p>
            Hecho con todo nuestro amor en la bella ciudad de Las Palmas de G.C. <br><br>
            Nos encantaría trabajar contigo.
        </p>
    </div>
    <div class="speech-bubble">
        <p>
            <small>
                    Pss, psss tengo algo que decirte...
                    <br><br>
                    Mira, los dentistas Tanja y Miki son un crack! Verdad, pero verdad de verdad. Te los recomiendo con gustito. Aquí --» , <a href="/extras/contact">dale un clickazo</a>  y verás!
            </small>           
        </p>
    </div>
    <img src="/images/site/main/chica-2.svg" alt="">
</article>