<header>
    <div>
        <img class="image1" src="/images/site/main/blancodent-text-es.svg" alt="Clínica Dental Blancodent">
    </div>
    <div>
        <picture>
            <source media="(min-width: 600px)" srcset="/images/site/main/blancodent-logo-es.svg"  >
            <source media="(max-width: 599px)" srcset="/images/site/main/blancodent-logo-es-small.svg">
            <img class="image2" src="blancodent-logo-es-small.svg" alt="Clinica Dental Blancodent Logo">
        </picture>
    </div>
    <div>
        <nav class="head-menu">
            <ul>
                <li><a href="/">Inicio</a> |</li>
                <li><a href="/extras/contact">Cita Previa</a> |</li>
                <li><a href="/en{{ .URL }}">English</a></li>
                <li><a href="#main-menu">MENU</a></li>
            </ul>
        </nav>
    </div>
</header>