<h2 class="big-font escribenos">Write to Us</h2>
<article class="contact-page">
    <a class="myButton" href="/en/extras/contact">Appointment form --></a>
    <p> The easiest way to contact us is by sending us an e-mail and we will get back to you as soon as possible. Your reply will be tended to during working hours and by order of reception. If you’re in a hurry and you want to contact us, the best option is to call our clinic directly on the following number <a href="tel:+34928292455">+34 928 292 455</a>. You can also use the same form for any other request you may have. 
    </p>
</article>