<article class="servicios">
    <div>
    <h2 class="big-font">Our Services</h2>
    <p>The treatments we offer at Blancodent</p>
    </div>
    <div>
        {{ range first 3 .Site.Taxonomies.tags.servicios }}
        <section>
            <ul>
                <li><h3><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3></li>
                <li><p>{{ .Summary }}</p></li>
                <li>
                    {{ if .Truncated }}  
                      <a href="{{ .RelPermalink }}">Reed more...</a>    
                    {{ end }}
                </li>
            </ul>
            <a href="{{ .RelPermalink }}"><img class="cover" src="{{ .Params.heroimage }}" alt=""></a>
        </section>
    {{ end }}
    </div>
</article>