<article class="home-upper-footer">
    <div>
        <img src="/images/site/main/hart.svg" alt="">
        <p>
            Made with all our love from the beautiful city of Las Palmas de G.C. <br><br>
            We would love to work with you.
        </p>
    </div>
    <div class="speech-bubble">
        <p>
           <small>
                Woohoo, it looks like we’ve reached the end of our page. <br><br>
            Why don’t you call: <a href="tel:+34928292455">928 292 455</a> and clear out any doubts? If not, why not <a href="/en/extras/contact">start your treatment</a> at “Clinica Dental Blancodent”?
           </small>
        </p>
        
    </div>
    <img src="/images/site/main/chico-1.svg" alt="">
</article>