<article class="porque-up">
    <h2 class="big-font">Why Choose Blancodent</h2>
    <p>
        Six reasons to choose our clinic
    </p>
    <div class="porque">
        <section>
            <h3>
                Professionalism
            </h3>
            <p>
                Two decades of experience in Spain and Germany. Maximum dedication to the medical profession and their “Blancodent” clinic.
            </p>
        </section>
        <section>
            <h3>
                Hygiene
            </h3>
            <p>
                Indisputable compliance with the law in both medical and lab areas. Environmental friendly residue treatment.
            </p>
        </section>
        <section>
            <h3>
                Attention
            </h3>
            <p>
                The important details behind understanding our patients needs. Patience and no economical discrimination.
            </p>
        </section>
        <section>
            <h3>
                Materials
            </h3>
            <p>
                Ranging from the market best to the most economical, always manufactured in the European Community or Switzerland.
            </p>
        </section>
        <section>
            <h3>
                Personnel
            </h3>
            <p>
                Dentists licensed in Spain and Germany. Trained assistants, pleasant and caring with our patients. Familiar treatment.
            </p>
        </section>
        <section>
            <h3>
                Prices
            </h3>
            <p>
                Clear information, competitive and respectful prices for each of our patients. Without misleading information.
            </p>
        </section>
    </div>
</article>