<article class="home-upper-footer">
    <div>
        <img src="/images/site/main/hart.svg" alt="">
        <p>
            Made with all our love from the beautiful city of Las Palmas de G.C. <br><br>
            We would love to work with you.
        </p>
    </div>
    <div class="speech-bubble">
        <p>
            <small>
                    Pss, psss tengo algo que decirte... INGLES
                    <br><br>
                    Mira, los dentistas Tanja y Miki son un crack! Verdad, pero verdad de verdad. Te los recomiendo con gustito. Aquí --» , <a href="/extras/contact">dale un clickazo</a> y verás!
            </small>           
        </p>
    </div>
    <img src="/images/site/main/chica-2.svg" alt="">
</article>